.titlesList li {
  cursor: pointer;
}

.titlesList {
  .toTop {
    background: red;
  }

  .toBottom {
    background: blue;
  }
}

.logoBase64 {
  width: 500px;
  max-height: 213px;
  filter: blur(8px);
}
