@import-normalize; /* bring in normalize.css styles */

body,
html {
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 0, 0.603);
  overflow-y: scroll;
}

* {
  font-family: VT323, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

.App {
  margin-top: 80px;
}

.getButtonLine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// #getPokemon {
//   margin: 0 auto;
//   margin-top: 10px;
//   margin-right: auto;
//   margin-left: auto;
//   outline-style: none;
//   border: 3px solid black;
//   border-radius: 7px;
//   cursor: pointer;
//   padding: 3px;
//   color: white;
//   font-size: 28px;
// }

button:hover {
  box-shadow: 5px 3px 11px 1px #000000;
}

button:active {
  box-shadow: 0 1px 0 #00823f;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: auto;
}

ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

li {
  list-style: none;
  text-transform: uppercase;
}

.itemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 900px;
}

.Tilt,
.Tilt-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Tilt-inner {
  min-height: 212px;
}

.Tilt-inner svg {
  margin-top: 50px;
  margin-bottom: 40px;
}

.detailedPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.detailedPage .name {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 4rem;
}

.detailedPage .name::first-letter {
  text-transform: uppercase;
}

.imagesLine {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  // max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .block {
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
  }
}

.imagesLineSmall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}

.imagesLineSmall .block {
  margin-left: 20px;
  margin-right: 20px;
}

.imagesLine .block,
.imagesLineSmall .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: #6cff79;
  cursor: default;
  padding: 1rem;
  padding-top: 5px;
  max-width: 5rem;
  min-height: 6rem;
  max-height: 115px;
}

.imagesLine .block img,
.imagesLineSmall .block img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.block .title {
  font-size: 1rem;
}

.mainInformation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  .skills {
    display: flex;
    flex-direction: row;
    margin-right: 30px;

    .stats {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 3rem;
      width: auto;
    }

    .abilities {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: -1rem;
      width: auto;
    }

    .bigImage {
      img {
        height: 100%;
        max-height: 400px;
      }
    }
  }
}

.statsUL {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 0;
  border: 1px solid black;
  border-radius: 0.7rem;
  background-color: #53aeff !important;
  padding: 25px;
  padding-left: 15px;
  width: 100%;
}

.abilitiesUL {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 0;
  border: 1px solid black;
  border-radius: 0.7rem;
  background-color: #53aeff !important;
  padding: 25px;
  padding-left: 15px;
}

.stats .statsLI {
  margin-top: 1rem;
  margin-left: 0;
  text-align: right;
}

.abilitiesLI {
  margin-top: 1rem;
  margin-left: 0;
  text-align: left;
}

.skills_title {
  align-self: center;
  justify-self: center;
  font-size: 2rem;
}

#clear,
.backToMainPage,
#getAllPokemon,
.loadNext {
  margin-right: auto;
  margin-left: 10px;
  outline-style: none;
  border: 3px solid black;
  border-radius: 7px;
  background: red;
  cursor: pointer;
  padding: 3px;
  color: white;
  font-size: 28px;
  min-width: 80px;
  text-align: center;
  z-index: 2;
}

a {
  text-decoration: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .topLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 8vh;
  }

  .player {
    display: flex;
    // position: absolute;
    // top: 15px;
    // left: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    width: auto;
    // height: 40px;
  }

  .backToMainPage {
    padding: 2px;
  }

  .playButton {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    z-index: 123;
  }

  .playButton button {
    margin: 0;
  }

  .getButtonLine {
    margin: 0;
  }

  .getButtonLine img {
    width: 85%;
  }

  .getButtonLine .Button {
    margin-top: 30px;
  }

  .main {
    padding-bottom: 50px;
    width: 100%;
    max-width: auto;
  }

  .main h2 {
    width: 100%;
  }

  .main,
  .statsUL,
  .abilitiesUL {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: auto;
  }

  .main li {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .detailedPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    height: auto;
  }

  .imagesLine .block,
  .imagesLineSmall .block {
    margin-right: 10px;
    margin-bottom: 2rem;
    margin-left: 10px;
    width: 20vw;
  }

  .imagesLine .block .title,
  .imagesLineSmall .block .title {
    overflow: hidden;
    color: red;
  }

  .imagesLine .block img,
  .imagesLineSmall .block img {
    width: auto;
  }

  .Button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    #getPokemon,
    #clear,
    #getAllPokemon {
      margin: 5px;
    }
  }

  .getButtonLine {
    .Tilt-inner {
      min-height: 150px;
    }
  }

  .backToMainPage {
    position: absolute;
  }

  .imagesLine {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .block {
      max-width: 120px;
    }
  }

  .mainInformation {
    flex-direction: column;

    .skills {
      justify-content: center;
      width: 100%;
      margin-right: 0;
    }
  }

  .evolutionForms {
    flex-wrap: wrap;
    margin-top: 40px;

    a.evoForm {
      margin: 10px;
    }
  }
}

.titles {
  width: 90%;
  max-width: 900px;

  .titlesList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding-left: 0;

    li {
      text-align: center;
    }
  }
}

.pokemonCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  padding-left: 0;

  img {
    margin-left: auto;
    margin-right: auto;
  }

  span {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.backToMainPage {
  position: fixed;
  top: 60px;
  left: 0px;
  height: 28px;
}

.backToMainPage:hover {
  box-shadow: 5px 3px 11px 1px #000000;
}

.backToMainPage:active {
  box-shadow: 0 1px 0 #00823f;
}

.textErrorBoundary {
  font-size: 14px;
  color: #ff3527;
}

.errorPage {
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .errCode {
    font-size: 42px;
  }

  .description {
    font-size: 24px;
  }
}

.fallback {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-weight: bold;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 850px) {
  .viewType {
    margin-top: 100px;
  }
}

.placeholderBase64 {
  filter: blur(18px);
}

.deBlur {
  animation: 0.2s linear 0s deBlurAnimation;
}

@keyframes deBlurAnimation {
  from {
    filter: blur(18px);
  }

  to {
    filter: blur(0px);
  }
}
