@import-normalize; /* bring in normalize.css styles */

body,
html {
  height: auto;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(255, 255, 0, 0.603);
  overflow-y: scroll;
}

* {
  font-family: VT323, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

.textErrorBoundary {
  font-size: 14px;
  color: #ff3527;
}

.fallback {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 62px;
  font-weight: bold;
}

.placeholderBase64 {
  filter: blur(18px);
}

.deBlur {
  animation: 0.2s linear 0s deBlurAnimation;
}

@keyframes deBlurAnimation {
  from {
    filter: blur(18px);
  }

  to {
    filter: blur(0px);
  }
}
