.wrapper {
  width: 100%;

  max-width: 100vw;
  max-height: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  img {
    height: calc(100vh / 20);
    width: calc(100vw /40);
    min-width: 65px;
    min-height: 65px;
    max-height: 65px;
    max-width: 65px;


    box-shadow:
      .5px 0 0 0 red,
      0 .5px 0 0 red,
      .5px .5px 0 0 red,
      .5px 0 0 0 red inset,
      0 .5px 0 0 red inset;
  }


  div,
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-fit: cover;
    max-width: 100px;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}