.smallPokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 10px;
  background: #4c4cffd9;
  cursor: pointer;
  width: 160px;
  min-height: 240px;
  object-fit: cover;

  &:hover {
    transform: scale(1.02);
  }

  .pokemonLogo {
    width: 100%;
    text-align: center;
    min-height: 160px;


    img,
    svg {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .pokemonName {
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.allPokemonsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  min-height: 100vh;
  margin-bottom: 100px;
}

.loadNext {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
}


.playButtons {
  top: 60px;
}


.loader {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-end {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
}