.smallPokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 10px;
  background: #4c4cffd9;
  cursor: pointer;
  width: 160px;
  min-height: 240px;
  object-fit: cover;

  &:hover {
    transform: scale(1.02);
  }

  .pokemonLogo {
    width: 100%;
    text-align: center;
    min-height: 160px;


    img,
    svg {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .pokemonName {
    color: black;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.allPokemonsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 50px;
  min-height: 100vh;
  margin-bottom: 100px;
}

.loadNext {
  margin-top: 30px;
  margin-bottom: 70px;
  margin-right: auto;
  margin-left: auto;
}


.playButtons {
  top: 60px;
}


.loader {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-end {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 26px;
}

.wrapper {
  width: 100%;

  max-width: 100vw;
  max-height: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 50px;

  img {
    height: calc(100vh / 20);
    width: calc(100vw /40);
    min-width: 65px;
    min-height: 65px;
    max-height: 65px;
    max-width: 65px;
    box-shadow:
      .5px 0 0 0 red,
      0 .5px 0 0 red,
      .5px .5px 0 0 red,
      .5px 0 0 0 red inset,
      0 .5px 0 0 red inset;


    &:hover {
      transform: scale(1.1);
      background: rgba(255, 255, 0, 1);
      cursor: pointer;
    }
  }


  div,
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    object-fit: cover;
    max-width: 100px;
  }
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}


.viewType {
  width: 100%;
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  .viewTypeInner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;

    .innerBlock {
      border: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px 5px 15px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        box-shadow: 5px 3px 11px 1px #000000;
      }

      &:active {
        bottom: -4px;
        box-shadow: 0 1px 0 #00823f;
      }

      span {
        font-size: 24px;
        margin-right: 10px;
      }

      .separator {
        margin-top: 2px;
      }

      .catalog,
      .list {
        width: 20px;
        margin-top: 4px;
        cursor: pointer;
      }
    }


  }


}